In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("Coursera.csv")

In [3]:
df.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [4]:
df.shape

(3522, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522 entries, 0 to 3521
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         3522 non-null   object
 1   University          3522 non-null   object
 2   Difficulty Level    3522 non-null   object
 3   Course Rating       3522 non-null   object
 4   Course URL          3522 non-null   object
 5   Course Description  3522 non-null   object
 6   Skills              3522 non-null   object
dtypes: object(7)
memory usage: 192.7+ KB

In [6]:
df.isnull().sum()

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course URL            0
Course Description    0
Skills                0
dtype: int64

In [7]:
df['Difficulty Level'].value_counts()

Beginner          1444
Advanced          1005
Intermediate       837
Conversant         186
Not Calibrated      50
Name: Difficulty Level, dtype: int64

In [8]:
df['Tags']=df['Course Name']+df['Course Description']+df['Skills']

In [9]:
df.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills,Tags
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...,Write A Feature Length Screenplay For Film Or ...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...,Business Strategy: Business Model Canvas Analy...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...,Silicon Thin Film Solar CellsThis course consi...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...,"Finance for ManagersWhen it comes to numbers, ..."
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...,Retrieve Data using Single-Table SQL QueriesIn...

In [10]:
df['Tags']=df['Tags'].str.replace(r'[^a-zA-Z0-9]',' ')

C:\Users\rites\AppData\Local\Temp\ipykernel_25044\133475240.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Tags']=df['Tags'].str.replace(r'[^a-zA-Z0-9]',' ')

In [11]:
df['Tags'].head()

0    Write A Feature Length Screenplay For Film Or ...
1    Business Strategy  Business Model Canvas Analy...
2    Silicon Thin Film Solar CellsThis course consi...
3    Finance for ManagersWhen it comes to numbers  ...
4    Retrieve Data using Single Table SQL QueriesIn...
Name: Tags, dtype: object

In [12]:
df['Tags'].iloc[1]

'Business Strategy  Business Model Canvas Analysis with MiroBy the end of this guided project  you will be fluent in identifying and creating Business Model Canvas solutions based on previous high level analyses and research data   This will enable you to identify and map the elements required for new products and services  Furthermore  it is essential for generating positive results for your business venture  This guided project is designed to engage and harness your visionary and exploratory abilities  You will use proven models in strategy and product development with the Miro platform to explore and analyse your business propositions    We will practice critically examining results from previous analysis and research results in deriving the values for each of the business model sections Finance  business plan  persona  user experience   business model canvas  Planning  Business  project  Product Development  presentation  Strategy business business strategy'

In [13]:
import nltk
import string
from nltk.corpus import stopwords
from string import punctuation

In [14]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rites\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [15]:
def transform_text(text):
    t=text.lower()
    t=nltk.word_tokenize(t)
    y=[]
    
    for i in t:
        if i.isalnum():
            y.append(i)
    for i in y:
        if i not in stopwords.words("english") and i not in string.punctuation:
            y.append(i)
        return y

In [16]:
df['Transformed_tags']=df['Tags'].apply(lambda x: transform_text(x))

In [17]:
df.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills,Tags,Transformed_tags
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...,Write A Feature Length Screenplay For Film Or ...,"[write, a, feature, length, screenplay, for, f..."
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...,Business Strategy Business Model Canvas Analy...,"[business, strategy, business, model, canvas, ..."
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...,Silicon Thin Film Solar CellsThis course consi...,"[silicon, thin, film, solar, cellsthis, course..."
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...,Finance for ManagersWhen it comes to numbers ...,"[finance, for, managerswhen, it, comes, to, nu..."
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...,Retrieve Data using Single Table SQL QueriesIn...,"[retrieve, data, using, single, table, sql, qu..."

In [18]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [19]:
def stemming(s):
    y=[]
    for i in s:
        y.append(ps.stem(i))
        
    return "".join(y)

In [20]:
df['Transformed_tags']=df['Tags'].apply(lambda x: stemming(x))

In [21]:
df['Transformed_tags'].head()

0    write a feature length screenplay for film or ...
1    business strategy  business model canvas analy...
2    silicon thin film solar cellsthis course consi...
3    finance for managerswhen it comes to numbers  ...
4    retrieve data using single table sql queriesin...
Name: Transformed_tags, dtype: object

In [22]:
df.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills,Tags,Transformed_tags
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...,Write A Feature Length Screenplay For Film Or ...,write a feature length screenplay for film or ...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...,Business Strategy Business Model Canvas Analy...,business strategy business model canvas analy...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...,Silicon Thin Film Solar CellsThis course consi...,silicon thin film solar cellsthis course consi...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...,Finance for ManagersWhen it comes to numbers ...,finance for managerswhen it comes to numbers ...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...,Retrieve Data using Single Table SQL QueriesIn...,retrieve data using single table sql queriesin...

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
# Function to recommend courses based on user's enrolled courses
def recommend_courses(input_course_description, df):
    # Vectorize course descriptions
    tfidf_vectorizer = TfidfVectorizer(stop_words='english')
    tfidf_matrix = tfidf_vectorizer.fit_transform(df['Transformed_tags'])

    # Vectorize input course description
    input_tfidf = tfidf_vectorizer.transform([input_course_description])

    # Calculate cosine similarity between input description and all courses
    similarities = cosine_similarity(input_tfidf, tfidf_matrix).flatten()

    # Get indices of courses sorted by similarity
    similar_course_indices = similarities.argsort()[::-1]

    # Recommend top 3 similar courses
    recommended_courses = []
    for idx in similar_course_indices[:5]:
        recommended_courses.append({
            'Course Name': df['Course Name'].iloc[idx]
            
        })

    return recommended_courses

In [25]:
# Example usage
input_course_description = 'Learn how to effectively write SQL queries to retrieve data from a single table'
recommendations = recommend_courses(input_course_description, df)
print("Recommended Courses:")
for course in recommendations:
    print(course)
    print()

Recommended Courses:
{'Course Name': 'Retrieve Data with Multiple-Table SQL Queries'}

{'Course Name': 'Retrieve Data using Single-Table SQL Queries'}

{'Course Name': 'Advanced SQL Retrieval Queries in SQLiteStudio'}

{'Course Name': 'Complex Retrieval Queries in MySQL Workbench'}

{'Course Name': 'Manipulating Data with SQL'}

In [26]:
input_course_description = 'python'
recommendations = recommend_courses(input_course_description, df)
print("Recommended Courses:")
for course in recommendations:
    print(course)
    print()

Recommended Courses:
{'Course Name': 'Python Data Analysis'}

{'Course Name': 'Python Data Representations'}

{'Course Name': 'Python Programming Essentials'}

{'Course Name': 'Python Functions, Files, and Dictionaries'}

{'Course Name': 'Python Data Structures'}

In [29]:
input_course_description = 'business analyst'
recommendations = recommend_courses(input_course_description, df)
print("Recommended Courses:")
for course in recommendations:
    print(course)
    print()

Recommended Courses:
{'Course Name': 'IBM Cybersecurity Analyst Assessment'}

{'Course Name': 'Introduction to Business Analysis Using Spreadsheets: Basics'}

{'Course Name': 'Introduction to Data Analytics'}

{'Course Name': 'Social Media Data Analytics'}

{'Course Name': 'Business Analysis & Process Management'}